<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
         xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
         xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities">

  <Identity Name="TPFan.UWP"
            Publisher="CN=TPFan-Win"
            Version="0.1.0.0" />

  <Properties>
    <DisplayName>TPFan-Win</DisplayName>
    <PublisherDisplayName>Yugicchi</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26200.0" />
  </Dependencies>

  <Resources>
    <Resource Language="en-us" />
    <Resource Language="id-id" />
  </Resources>

  <Applications>
    <Application Id="App"
                 StartPage="TPFan.UWP.App">
      <uap:VisualElements DisplayName="TPFan-Win"
                          Square150x150Logo="Assets\Square150x150Logo.png"
                          Square44x44Logo="Assets\Square44x44Logo.png"
                          Description="ThinkPad T480 Fan Control"
                          BackgroundColor="transparent">
        <uap:DefaultTile />
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>

</Package>
